body {
  font-size: .875rem;
}

h4 {
    padding-top: 10px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


@supports ((position: -webkit-sticky) or (position: sticky)) {
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.modal-open {
   max-width:75%;
}

.mobile-accordion {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.mobile-categories {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  .main-mobile {
    padding-top: 50px;
  }

  .map-us {
    width: 1200px;
    height: 600px;
  }

  .foursquare-logo {
      max-width:240px;
  }

    .mobile-search {
      margin-top: 20px;
    }

    .mobile-dropdown {
      margin-left: 60px;
    }

}

@media (min-width: 990px) and (max-width: 1199px) {
  .main-mobile {
    padding-top: 50px;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .foursquare-logo {
      max-width:240px;
  }

  .map-us {
    width: 1000px;
    height: 566px;
  }

  .mobile-btn {
    margin-left: 25px;
  }

  .mobile-header {
    margin-top: 15px;
  }

  .mobile-chart {
    margin-bottom: 20px;
  }

  .mobile-search {
    margin-top: 20px;
  }

  .mobile-dropdown {
    margin-left: 60px;
  }
}

@media (max-width: 989px) {
  .main-mobile {
    padding-top: 40px;
  }

  .map-us {
    width: 700px;
    height: 389px;
  }

  .foursquare-logo {
      max-width: 240px;
  }

  .mobile-btn {
    margin-left: 10px;
  }

  .mobile-header {
    margin-top: 15px;
  }

  .mobile-search {
    margin-top: 20px;
  }

  .mobile-dropdown {
    margin-left: 60px;
  }
}

@media (min-width: 745px) and (max-width: 815px) {
  .map-us {
    width: 550px;
    height: 300px;
  }

  .foursquare-logo {
      max-width:240px;
  }
}

@media (min-width: 430px) and (max-width: 825px) {
  .main-mobile {
    padding-top: 55px;
  }

  .map-us {
    width: 550px;
    height: 250px;
  }

  .foursquare-logo {
      max-width:240px;
  }
}

@media (max-width: 425px) {
  .main-mobile {
    padding-top: 100px;
  }

  .map-us {
    width: 300px;
    height: 167px;
  }

  .foursquare-logo {
      max-width: 150px;
  }

  .mobile-btn {
    margin-top: 20px;
    float: right;
    margin-bottom: 20px;
  }

  .mobile-header {
    margin-top: 75px;
  }

  .mobile-search {
    margin-top: 0px;
  }

  .mobile-dropdown {
    margin-left: 0px;
  }
}
