{% extends "nav.html" %}
{% block main %}

<div class="container-fluid main-mobile">
  <div class="mt-2 w-100 highcharts-figure" id="chartcontainer" style="display: block;">
  </div>
</div>

<div id="column-selection"></div>
<div id="key-selection"></div>
<div id="data-table"></div>

<script type="text/javascript">
  var _fourSquareDataUrl = {{ foursquare_data_url| tojson }};
</script>
<script type="text/javascript" src="/categories.js"></script>
<script type="text/javascript" src="/render_cube.js"></script>
<script type="text/javascript">
  renderRollupCube();
</script>

{% endblock %}