{% extends "nonav.html" %}
{% block main %}
<div class="container-fluid mt-2 main-mobile">
  <h4 id="table-title">FAQ:</h4>
  <ul class="faqlist">
    <li> <b>What is the methodology?</b> The visitdata.org website is powered by Foursquare’s US foot traffic data, derived from our panel of 13 million always-on opted-in users. The data is represented as an index.  Foot traffic for a given county on a given day is indexed to average foot traffic for that county in the month of February 2020. Increases or decreases relative to that average are corroborated with a measure of statistical significance. In this case, we are simply testing for a difference in means, given “n” size, effect size, and variance.  To learn more about Pilgrim – Foursquare’s “snap-to-place” technology which powers our visit data – click <a href="https://enterprise.foursquare.com/intersections/article/phones-lambdas-and-the-joy-of-snap-to-place-techn/">here</a>.  
    </ul>
</div>	
{% endblock %}
