{% extends "nav.html" %}
{% block main %}
        <h2>Visit data for March 23rd</h2>

        <select name="county" id="county-select">
          <option value="">---Select a county--</option>
        </select>
        or
        <select name="venuetype" id="location-type-select">
          <option value="">---Select a venue type--</option>
        </select>

        <br><br>

        <div id="data-table" class="table-responsive">
        </div>

        <!-- TODO get foursquare image to show as footer across the whole bottom of the page, right?  not just the main section? -->
        <a href="https://developer.foursquare.com/"><img src="foursquare.png"></a>
{% endblock %}
