{% extends "nav.html" %}
{% block main %}
        <h2 id="table-title"></h2>

        <select name="county" id="county-select">
          <option value="">---Select a county--</option>
        </select>
        or
        <select name="venuetype" id="location-type-select">
          <option value="">---Select a venue type--</option>
        </select>
        and show:
        <select name="agegroup" id="agegroup-select">
          <option value="all">All ages</option>
          <option value="under65">Under 65</option>
          <option value="over65">65 and Over</option>
        </select>

        <br><br>
        
        <div>
          <ul>
            <li>100 = February average number of visits for that day of the week.</li>
            <li>If data is missing for a particular County or Location Type, that means there weren't enough visits for
              that Location Type in that County to have usable data.</li>
            <li>Contact support@visitdata.org with any questions or problems.</li>
          </ul>
        </div>

        <div id="data-table" class="table-responsive">
        </div>

        <!-- TODO get foursquare image to show as footer across the whole bottom of the page, right?  not just the main section? -->
        <a href="https://developer.foursquare.com/"><img src="/foursquare.png"></a>

	<script type="text/javascript">
	 var _selectedCounties = {{ counties|tojson }};
	 var _selectedVenues = {{ venues|tojson }};
	</script>
        <script type="text/javascript" src="/ca.js"></script>
{% endblock %}
