{% extends "nonav.html" %}
{% block main %}
<h1>Current Data Methodology</h1>
<p>The visitdata.org website is powered by Foursquare’s US foot traffic data, derived from our panel of 13 million always-on opted-in users. Visits by that panel are normalized 1) for changes in the panel's size, and 2) to better reflect the age-gender distribution of each state. Note that the panel data, and the normalized estimated number of visits derived from the panel data, are subject to various errors and biases.<br><br>To learn more about Pilgrim – Foursquare’s “snap-to-place” technology which powers our visit data – click <a href="https://enterprise.foursquare.com/intersections/article/phones-lambdas-and-the-joy-of-snap-to-place-techn/">here</a>.</p>
<h1>Prior Data Methodology</h1>
<p>Prior to May 1, 2020, the methodology was as follows:<br>The data is represented as an index.  Foot traffic for a given county on a given day is indexed to average foot traffic for that county in the month of February 2020. Increases or decreases relative to that average are corroborated with a measure of statistical significance. In this case, we are simply testing for a difference in means, given “n” size, effect size, and variance.</p>
{% endblock %}
