<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162095060-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-162095060-2');
  </script>

  <!--Google Map -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {
      'packages':['geochart'],

      'mapsApiKey': 'AIzaSyAPGlccRBn08PvLIGddwaiQ7gpCsDK-vaQ'
    });

    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {

      var data = google.visualization.arrayToDataTable([
       ['State'],
       ['Alabama'],
       ['Alaska'],
       ['Arizona'],
       ['Arkansas'],
       ['California'],
       ['Colorado'],
       ['Connecticut'],
       ['Delaware'],
       ['Florida'],
       ['Georgia'],
       ['Hawaii'],
       ['Idaho'],
       ['Illinois'],
       ['Indiana'],
       ['Iowa'],
       ['Kansas'],
       ['Kentucky'],
       ['Louisiana'],
       ['Maine'],
       ['Maryland'],
       ['Massachusetts'],
       ['Michigan'],
       ['Minnesota'],
       ['Mississippi'],
       ['Missouri'],
       ['Montana'],
       ['Nebraska'],
       ['Nevada'],
       ['New Hampshire'],
       ['New Jersey'],
       ['New Mexico'],
       ['New York'],
       ['North Carolina'],
       ['North Dakota'],
       ['Ohio'],
       ['Oklahoma'],
       ['Oregon'],
       ['Pennsylvania'],
       ['Rhode Island'],
       ['South Carolina'],
       ['South Dakota'],
       ['Tennessee'],
       ['Texas'],
       ['Utah'],
       ['Vermont'],
       ['Virginia'],
       ['Washington'],
       ['West Virginia'],
       ['Wisconsin'],
       ['Wyoming']
      ]);

      var statesForUrl = [
           ['Alabama'],
           ['Alaska'],
           ['Arizona'],
           ['Arkansas'],
           ['California'],
           ['Colorado'],
           ['Connecticut'],
           ['Delaware'],
           ['Florida'],
           ['Georgia'],
           ['Hawaii'],
           ['Idaho'],
           ['Illinois'],
           ['Indiana'],
           ['Iowa'],
           ['Kansas'],
           ['Kentucky'],
           ['Louisiana'],
           ['Maine'],
           ['Maryland'],
           ['Massachusetts'],
           ['Michigan'],
           ['Minnesota'],
           ['Mississippi'],
           ['Missouri'],
           ['Montana'],
           ['Nebraska'],
           ['Nevada'],
           ['NewHampshire'],
           ['NewJersey'],
           ['NewMexico'],
           ['NewYork'],
           ['NorthCarolina'],
           ['NorthDakota'],
           ['Ohio'],
           ['Oklahoma'],
           ['Oregon'],
           ['Pennsylvania'],
           ['RhodeIsland'],
           ['SouthCarolina'],
           ['SouthDakota'],
           ['Tennessee'],
           ['Texas'],
           ['Utah'],
           ['Vermont'],
           ['Virginia'],
           ['Washington'],
           ['WestVirginia'],
           ['Wisconsin'],
           ['Wyoming']
          ]

    let selectedRow

    var options = { region: 'US', resolution: "provinces", keepAspectRatio: true, defaultColor: '#4aa9b5' };

    var geochart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    geochart.draw(data, options);

    google.visualization.events.addListener(geochart, 'select', function(r) {

    var selection = geochart.getSelection()

    if (selection.length>0) {
      selectedRow = selection[0]['row']

      window.location.href = "http://127.0.0.1:8080/bydatesel/"+statesForUrl[selectedRow][0]+"/ALL/ALL"
    }
    });
  }
  </script>

    <meta charset="utf-8">

    <!-- TODO give credit to the bootstrap example theme folks -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tabulator_bootstrap4.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/visitdata.css" rel="stylesheet">

    <title>Location Visit Data</title>
</head>

<script type="text/javascript" src="/js/lib/underscore-min.js"></script>
<script type="text/javascript" src="/js/lib/tabulator.min.js"></script>
<script type="text/javascript" src="/js/lib/papaparse.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/lib/highcharts.js"></script>

<body data-spy="scroll" data-target="#navbarNav">
  <nav class="navbar fixed-top navbar-inverse bg-info navbar-expand-lg">
    <div class="navbar-header">
      <a class="navbar-brand text-light" href="/index.html">VisitData</a>
    </div>
  </nav>

  <div class="container-fluid ">
      <main role="main">
        {% block main %}{% endblock %}
        <!-- TODO get foursquare image to show as footer across the whole bottom of the page, right?  not just the main section? -->
        <a href="https://developer.foursquare.com/"><img src="/foursquare.png" class="foursquare-logo float-right"></a>

      </main>
  </div>
</body>
