{% extends "nonav.html" %}
{% block main %}
<div class="container-fluid mt-2 main-mobile">
  <h4 id="table-title">Pick a state:</h4>
  <br/>
  <a href="/bystatesel/Alabama/ALL">Alabama</a><br>
  <a href="/bystatesel/Alaska/ALL">Alaska</a><br>
  <a href="/bystatesel/Arizona/ALL">Arizona</a><br>
  <a href="/bystatesel/Arkansas/ALL">Arkansas</a><br>
  <a href="/bystatesel/California/ALL">California</a><br>
  <a href="/bystatesel/Colorado/ALL">Colorado</a><br>
  <a href="/bystatesel/Connecticut/ALL">Connecticut</a><br>
  <a href="/bystatesel/Delaware/ALL">Delaware</a><br>
  <a href="/bystatesel/Florida/ALL">Florida</a><br>
  <a href="/bystatesel/Georgia/ALL">Georgia</a><br>
  <a href="/bystatesel/Hawaii/ALL">Hawaii</a><br>
  <a href="/bystatesel/Idaho/ALL">Idaho</a><br>
  <a href="/bystatesel/Illinois/ALL">Illinois</a><br>
  <a href="/bystatesel/Indiana/ALL">Indiana</a><br>
  <a href="/bystatesel/Iowa/ALL">Iowa</a><br>
  <a href="/bystatesel/Kansas/ALL">Kansas</a><br>
  <a href="/bystatesel/Kentucky/ALL">Kentucky</a><br>
  <a href="/bystatesel/Louisiana/ALL">Louisiana</a><br>
  <a href="/bystatesel/Maine/ALL">Maine</a><br>
  <a href="/bystatesel/Maryland/ALL">Maryland</a><br>
  <a href="/bystatesel/Massachusetts/ALL">Massachusetts</a><br>
  <a href="/bystatesel/Michigan/ALL">Michigan</a><br>
  <a href="/bystatesel/Minnesota/ALL">Minnesota</a><br>
  <a href="/bystatesel/Mississippi/ALL">Mississippi</a><br>
  <a href="/bystatesel/Missouri/ALL">Missouri</a><br>
  <a href="/bystatesel/Montana/ALL">Montana</a><br>
  <a href="/bystatesel/Nebraska/ALL">Nebraska</a><br>
  <a href="/bystatesel/Nevada/ALL">Nevada</a><br>
  <a href="/bystatesel/NewHampshire/ALL">New Hampshire</a><br>
  <a href="/bystatesel/NewJersey/ALL">New Jersey</a><br>
  <a href="/bystatesel/NewMexico/ALL">New Mexico</a><br>
  <a href="/bystatesel/New%20York/ALL">New York</a><br>
  <a href="/bystatesel/NorthCarolina/ALL">North Carolina</a><br>
  <a href="/bystatesel/NorthDakota/ALL">North Dakota</a><br>
  <a href="/bystatesel/Ohio/ALL">Ohio</a><br>
  <a href="/bystatesel/Oklahoma/ALL">Oklahoma</a><br>
  <a href="/bystatesel/Oregon/ALL">Oregon</a><br>
  <a href="/bystatesel/Pennsylvania/ALL">Pennsylvania</a><br>
  <a href="/bystatesel/RhodeIsland/ALL">Rhode Island</a><br>
  <a href="/bystatesel/SouthCarolina/ALL">South Carolina</a><br>
  <a href="/bystatesel/SouthDakota/ALL">South Dakota</a><br>
  <a href="/bystatesel/Tennessee/ALL">Tennessee</a><br>
  <a href="/bystatesel/Texas/ALL">Texas</a><br>
  <a href="/bystatesel/Utah/ALL">Utah</a><br>
  <a href="/bystatesel/Vermont/ALL">Vermont</a><br>
  <a href="/bystatesel/Virginia/ALL">Virginia</a><br>
  <a href="/bystatesel/Washington/ALL">Washington</a><br>
  <a href="/bystatesel/WestVirginia/ALL">West Virginia</a><br>
  <a href="/bystatesel/Wisconsin/ALL">Wisconsin</a><br>
  <a href="/bystatesel/Wyoming/ALL">Wyoming</a><br>
</div>	
{% endblock %}
