{% extends "nonav.html" %}
{% block main %}
<div class="container-fluid mt-2 main-mobile">
  <h4 id="table-title">Pick a state:</h4>
  <br/>
  <a href="/bydatesel/Alabama/ALL/ALL">Alabama</a><br>
  <a href="/bydatesel/Alaska/ALL/ALL">Alaska</a><br>
  <a href="/bydatesel/Arizona/ALL/ALL">Arizona</a><br>
  <a href="/bydatesel/Arkansas/ALL/ALL">Arkansas</a><br>
  <a href="/bydatesel/California/ALL/ALL">California</a><br>
  <a href="/bydatesel/Colorado/ALL/ALL">Colorado</a><br>
  <a href="/bydatesel/Connecticut/ALL/ALL">Connecticut</a><br>
  <a href="/bydatesel/Delaware/ALL/ALL">Delaware</a><br>
  <a href="/bydatesel/Florida/ALL/ALL">Florida</a><br>
  <a href="/bydatesel/Georgia/ALL/ALL">Georgia</a><br>
  <a href="/bydatesel/Hawaii/ALL/ALL">Hawaii</a><br>
  <a href="/bydatesel/Idaho/ALL/ALL">Idaho</a><br>
  <a href="/bydatesel/Illinois/ALL/ALL">Illinois</a><br>
  <a href="/bydatesel/Indiana/ALL/ALL">Indiana</a><br>
  <a href="/bydatesel/Iowa/ALL/ALL">Iowa</a><br>
  <a href="/bydatesel/Kansas/ALL/ALL">Kansas</a><br>
  <a href="/bydatesel/Kentucky/ALL/ALL">Kentucky</a><br>
  <a href="/bydatesel/Louisiana/ALL/ALL">Louisiana</a><br>
  <a href="/bydatesel/Maine/ALL/ALL">Maine</a><br>
  <a href="/bydatesel/Maryland/ALL/ALL">Maryland</a><br>
  <a href="/bydatesel/Massachusetts/ALL/ALL">Massachusetts</a><br>
  <a href="/bydatesel/Michigan/ALL/ALL">Michigan</a><br>
  <a href="/bydatesel/Minnesota/ALL/ALL">Minnesota</a><br>
  <a href="/bydatesel/Mississippi/ALL/ALL">Mississippi</a><br>
  <a href="/bydatesel/Missouri/ALL/ALL">Missouri</a><br>
  <a href="/bydatesel/Montana/ALL/ALL">Montana</a><br>
  <a href="/bydatesel/Nebraska/ALL/ALL">Nebraska</a><br>
  <a href="/bydatesel/Nevada/ALL/ALL">Nevada</a><br>
  <a href="/bydatesel/NewHampshire/ALL/ALL">New Hampshire</a><br>
  <a href="/bydatesel/NewJersey/ALL/ALL">New Jersey</a><br>
  <a href="/bydatesel/NewMexico/ALL/ALL">New Mexico</a><br>
  <a href="/bydatesel/NewYork/ALL/ALL">New York</a><br>
  <a href="/bydatesel/NorthCarolina/ALL/ALL">North Carolina</a><br>
  <a href="/bydatesel/NorthDakota/ALL/ALL">North Dakota</a><br>
  <a href="/bydatesel/Ohio/ALL/ALL">Ohio</a><br>
  <a href="/bydatesel/Oklahoma/ALL/ALL">Oklahoma</a><br>
  <a href="/bydatesel/Oregon/ALL/ALL">Oregon</a><br>
  <a href="/bydatesel/Pennsylvania/ALL/ALL">Pennsylvania</a><br>
  <a href="/bydatesel/RhodeIsland/ALL/ALL">Rhode Island</a><br>
  <a href="/bydatesel/SouthCarolina/ALL/ALL">South Carolina</a><br>
  <a href="/bydatesel/SouthDakota/ALL/ALL">South Dakota</a><br>
  <a href="/bydatesel/Tennessee/ALL/ALL">Tennessee</a><br>
  <a href="/bydatesel/Texas/ALL/ALL">Texas</a><br>
  <a href="/bydatesel/Utah/ALL/ALL">Utah</a><br>
  <a href="/bydatesel/Vermont/ALL/ALL">Vermont</a><br>
  <a href="/bydatesel/Virginia/ALL/ALL">Virginia</a><br>
  <a href="/bydatesel/Washington/ALL/ALL">Washington</a><br>
  <a href="/bydatesel/WestVirginia/ALL/ALL">West Virginia</a><br>
  <a href="/bydatesel/Wisconsin/ALL/ALL">Wisconsin</a><br>
  <a href="/bydatesel/Wyoming/ALL/ALL">Wyoming</a><br>
</div>	
{% endblock %}
